<header>
    <h1>Super aplicación</h1>

    <nav>
        <a routerLink="/listado-usuarios">Listado de Usuarios</a>
        <a routerLink="/nuevo-usuario">Nuevo usuario</a>
    </nav>
</header>

<app-boton-cancelable 
        mensajeBoton="Botón cancelable" 
        mensajeConfirmacion="Estoy seguro" 
        mensajeCancelacion="Cancelar"
        (confirmado)="hanConfirmado()"
        (cancelado)="hanCancelado()"
        >
</app-boton-cancelable>
<!-- voy a decirle a Angular que quiero ahora en mi componente app un hueco!
Un hueco que iré rellenando con lo que sea... pero dinámicamente 
-->
<main class="contenido">
    <router-outlet/>
</main>

<div class="footer"> © Copyright 206 - Curso Angular</div>