<form class="buscador" [formGroup]="formulario" (ngSubmit)="aplicarFiltros()">
  <mat-form-field appearance="outline" class="campo-nombre">
    <mat-label>Buscar por nombre</mat-label>
    <input matInput type="text" formControlName="nombre" placeholder="Ej. Toby" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="campo-tipo">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="tipo">
      <mat-option value="">Todos</mat-option>
      @for (tipo of tipos; track tipo) {
        <mat-option [value]="tipo">{{ tipo }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="acciones">
    <button mat-raised-button color="primary" type="submit">
      <mat-icon>search</mat-icon>
      Buscar
    </button>
    <button mat-button type="button" (click)="limpiar()">
      <mat-icon>clear</mat-icon>
      Limpiar
    </button>
  </div>
</form>
